:root {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  --text-color: #1f5c39;
}

/** RESET **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Irishuncialfabeta';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/Irishuncial.ttf) format('truetype');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

b, dt, th, figcaption {
  font-weight: 700;
  font-family: Irishuncialfabeta;
}

i {
  font-style: italic;
}

ul,
ol {
  list-style-position: inside;
}

dd {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 0.5rem;
  border: 1px dotted var(--text-color);
}

footer {
  padding: 1rem;
  background-color: #00000099;
  color: white;
}

.landscape-bg {
  background-image: url("/landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.paper {
  background-color: #f5f5dcde;
  max-width: 6in;
  padding: 1.5rem 2.5rem;
  color: var(--text-color);

  box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1),
    inset 0 0 1em hsla(0,0%,0%,.05),
    0 .1em .25em hsla(0,0%,0%,.5);

  backdrop-filter: sepia(1);
  z-index: 1;
}

.skew {
  transform: matrix(1, -0.05, 0, 1, 0, 0);
}

.unskew {
  transform: matrix(1, 0.05, 0, 1, 0, 0);
}

.paper p {
  margin-bottom: 0.5em;
}

.paper a {
  color: inherit;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
.paper a:hover {
  color: darkorange;
}

.paper h1,
.paper h2 {
  font-family: Irishuncialfabeta;
  text-align: center;
  margin: 1rem 0;
}

.paper h1 {
  font-size: 4rem;
}
.paper h2 {
  font-size: 3rem;
}

.large-first-letter::first-letter {
    float: left;
    font-size: 8em;
    padding-right: 0.1in;
    line-height: .5;
    font-family: Irishuncialfabeta;
}

.folded-paper {
    background-image: linear-gradient(hsla(0,0%,0%,.025), hsla(0,0%,100%,.05) 33%, hsla(0,0%,0%,.05) 33%, hsla(0,0%,100%,.05) 67%, hsla(0,0%,0%,.05) 67%, hsla(0,0%,100%,.025));
    position: relative;
}

.leprechaun-dance {
  height: 20rem;
  padding-left: 2rem;
  position: relative;
  z-index: 2;
}
.shift-down {
  position: relative;
  margin-top: -2rem;
  top: 2rem;
}

img[src=\/shamrock\.png] {
  position: relative;
  z-index: 3;
  height: 15rem;
}

img[src=\/beer\.png] {
  height: 12rem;
}

.zoom-on-hover {
  transition: transform 0.5s ease-in-out;
}
.zoom-on-hover:hover {
  transform: scale(1.2);
  transform-origin: center center;
}


figure {
  text-align: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.relative {
  position: relative;
}

.my-50vh {
  margin-top: 50vh;
  margin-top: 50vh;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.large-text {
  font-size: 3rem;
}
